.clients {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 37px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    margin-bottom: 49px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    height: 597px;
    margin: 0;
  }
}

.clients__heading {
  margin: 0;
  padding-top: 20px;
  margin-bottom: 7px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;

  @media (min-width: $tablet-width)  {
    font-size: 60px;
    line-height: 60px;
    padding-top: 10px;
    padding-left: 30px;
  }

  @media(min-width: $desktop-width) {
    margin-bottom: 34px;
    padding-left: 37px;
    padding-top: 0;
  }
}

.clients__box {
  @media(min-width: $tablet-width) {
    margin-top: 39px;
  }

  @media(min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
  }
}

.clients__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 0 30px;
    margin-bottom: 236px;
  }

  @media(min-width: $desktop-width) {
    flex-direction: column;
    padding: 0;
  }
}

.clients__inner{
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;

  @media(min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 386px;
    margin-bottom: 56px;

  }
}

.clients__story {
  width: 220px;
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    width: 565px;
    margin-bottom: 67px;
    padding-left: 31px;
    font-size: 16px;
    line-height: 24px;
  }

  @media(min-width: $desktop-width) {
    width: 352px;
    margin-top: 74px;
    margin-bottom: 82px;
    padding-left: 40px;
  }
}

.clients__wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 11px;

  @media(min-width: $tablet-width) {
    flex-direction: column;
  }

  @media(min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-around;
    padding-left: 13px;
  }
}

.clients__expenses {
  margin: 0;
  margin-top: 11px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #111111;
  text-transform: uppercase;

  @media(min-width: $tablet-width) {
    margin: 0;
    margin-left: 190px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media(min-width: $desktop-width) {
    margin: 0;
  }
}

.clients__money {
  margin-top: 8px;
  margin-left: 5px; 

  @media(min-width: $tablet-width) {
  margin-top: 8px;
  margin-left: 279px;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
  }

  @media(min-width: $desktop-width) {
    margin: 0;
  }
}
