.clients {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  background-color: #f2f2f2;

  @media(min-width: $tablet-width) {
    padding: 0;
  }

  @media(min-width: $desktop-width) {
    flex-direction: row;
    width: 1437px;
  }
}


.clients__wrapper {
  @media(min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-top: 42px;
    padding-left: 28px;
    padding-bottom: 242px;
    background-color: #ffffff;
  }

  @media(min-width: $desktop-width) {
    padding-left: 109px;
    padding-bottom: 45px;
    background-color: #f2f2f2;
  }
}

.clients__heading {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black-color;

  @media(min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media(min-width: $desktop-width) {
    position: absolute;
    top: -133px;
    left: 107px;
  }
}

.clients__story {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 41px;
  padding-right: 14px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;

  @media(min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 65px;
    padding-right: 40px;
    padding-bottom: 64px;
  }

  @media(min-width: $desktop-width) {
   width: 436px;
   padding-top: 31px;
   padding-bottom: 78px;
  }
}

.clients__container {
  @media(min-width: $tablet-width) {
    display: flex;
    padding-left: 35px;

  }

  @media(min-width: $desktop-width) {
    flex-direction: column;
    padding: 0;
    width: 370px;
  }
}

.clients__inner {
  display: flex;
  width: 280px;
  justify-content: space-between;

  @media(min-width: $tablet-width) {
    width: 327px;
  }

  @media(min-width: $desktop-width) {
    margin-bottom: 54px;
    padding-left: 33px;
  }
}

