.days {
  display: flex;
  flex-direction: column;
  padding-right: 20px;

  @media(min-width: $tablet-width) {
    padding: 0;
    padding-top: 5px;
  }
}
//   @media(min-width: $tablet-width) {
//     padding-right: 44px;
//     padding-top: 11px;
//   }
// }

// .days__count {
//   font-size: 24px;
//   line-height: 24px;
//   color: $black-color;

//   @media(min-width: $tablet-width) {
//     font-size: 30px;
//     line-height: 37px;
//   }
// }

// .days__caption {
//   margin: 0;
//   width: 66px;
//   padding-top: 8px;
//   padding-left: 6px;
//   font-size: 12px;
//   line-height: 12px;
//   text-align: center;

//   @media(min-width: $tablet-width) {
//     width: 100px;
//     font-size: 14px;
//     line-height: 14px;
//   }


// }


// // .days {
// //   @media(min-width: $tablet-width) {
// //     padding-top: 6px;
// //   }
// // }

.days__count {
  font-size: 24px;
  line-height: 24px;
  color: $black-color;

  @media(min-width: $tablet-width) {
    padding-left: 15px;
    font-size: 30px;
    line-height: 37px;
  }
}
// //   @media(min-width: $tablet-width) {
// //     padding: 0;
// //     font-size: 30px;
// //     line-height: 37px;
// //   }

// //   @media(min-width: $desktop-width) {
// //     margin: 0;

// //     }
// // }

.days__caption {
  width: 60px;
  margin: 0;
  padding-top: 6px;
  padding-left: 11px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;

  @media(min-width: $tablet-width) {
    padding: 0;
    padding-top: 12px;
    padding-right: 11px;
    width: 130px;
    font-size: 14px;
    line-height: 14px;
  }
}
// //   @media(min-width: $tablet-width) {
// //     width: 115px;
// //     font-size: 14px;
// //     line-height: 14px;
// //   }

// // @media(min-width: $desktop-width) {
// //   margin: 0;
// //   padding-top: 12px;

// //   }
// // }
