.days__count {
  padding-left: 46px;
  font-size: 24px;
  line-height: 24px;
  color: #111111;

  @media(min-width: $tablet-width) {
    padding: 0;
    margin-left: 97px;
    font-size: 30px;
    line-height: 37px;
  }

  @media(min-width: $desktop-width) {
    margin: 0;
  
    }
}

.days__caption {
  width: 60px;
  margin: 0;
  padding-left: 53px;
  padding-top: 4px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #444444;

  @media(min-width: $tablet-width) {
    width: 115px;
    margin-left: 87px;
    margin-top: 8px;
    font-size: 14px;
    line-height: 14px;
  }

@media(min-width: $desktop-width) {
  margin: 0;
  margin-top: 10px;

  }
}  
