.icon-wrapper {
  width: 50px;
  height: 52px;
  background-color: $light-green-color;
  border-radius: 50%;

  @media(min-width: $tablet-width) {
    position: absolute;
    top: 17px;
    left: 399px;
    order: 1;
    width: 200px;
    height: 200px;

    &--pro {
      left: 397px;

    }
  }

  @media(min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: 24px;
    left: 28px;

    width: 100px;
    height: 100px;
    top: 22px;
    left: 31px;
    
  }


}

