.plan {
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #f2f2f2;

  &--pro {
    margin-top: 20px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 71px;
    padding-left: 34px;
    padding-bottom: 57px;

    &--pro {
      margin-top: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 71px;
    padding-left: 54px;
    margin-right: 85px;
    padding-right: 50px;

    &--pro {
      margin: 0;
      padding-left: 50px;
    }
  }
}

.plan__icon-wrapper {
  position: relative;
  width: 50px;
  height: 49px;
  border-radius: 50%;
  padding-left: 3px;
  padding-top: 2px;
  background-color: $light-green-color;

  &--pro {
    padding-left: 2px;
    padding-top: 0;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 61px;
    top: 24px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    right: 367px;
    top: -22px;
    width: 100px;
    height: 100px;

    &--pro {
      right: 368px;
    }
  }
}

.plan__image {
  position: absolute;
  left: 7px;
  bottom: 2px;

  &--pro {
    left: -8px;
    bottom: 12px;
  }

  @media (min-width: $tablet-width) {
    left: 31px;
    bottom: 20px;
    width: 140px;
    height: 194px;

    &--pro {
      width: 268px;
      height: 112px;
      left: -32px;
      bottom: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    left: 17px;
    bottom: 11px;

    &--pro {
      width: 134px;
      height: 56px;
      left: -18px;
      bottom: 20px;
    }
  }
}

.plan__name {
  margin: 0;
  padding-top: 6px;
  padding-left: 20px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  &--pro {
    padding-top: 4px;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 9px;
    padding-left: 161px;

    &--pro {
      padding-left: 159px;
    }
  }
}

.plan__description {
  position: relative;
  padding-top: 7px;
  padding-right: 17px;
  padding-bottom: 23px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;


  &--pro {
    padding-right: 16px;
  }

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      width: 240px;
      left: 2px;
      top: 119px;
      height: 2px;
      background: #eaeaea;

      &--pro {
        padding-top: 9px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 11px;
    padding-left: 18px;
    padding-right: 280px;
    padding-bottom: 41px;
    font-size: 16px;
    line-height: 24px;

    &--pro {
      padding-right: 312px;
      padding-top: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    padding-top: 73px;
    width: 465px;
  }
}

.plan__link {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 56px;
    padding-top: 31px;
  }
}

.plan__catalog {
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    left: 94px;
    top: 6px;
    width: 52px;
    height: 12px;
    background-image: url("/img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    &::after {
      background-image: url("/img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      background-image: url("/img/icon-right-arrow-verylong.svg");
    }
  }

  &--pro {
    &:hover {
      &::after {
        background-image: url("/img/icon-right-arrow-verylong.svg");
      }
    }

    &:active {
      opacity: 0.3;

      &::after {
        background-image: url("/img/icon-right-arrow-verylong.svg");
      }
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    &::after {
      left: 148px;
    }

    &--pro {
      &::after {
        left: 143px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      left: 128px;
      top: 34px;
    }

    &--pro {
      &::after {
        left: 123px;
      }
    }
  }
}
