.programs {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media(min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.programs__header {
  @include visually-hidden;
}

@media (min-width: 1300px) {
  .programs {
    display: flex;
    flex-direction: row;
  }
}
