.program {
  background-color: #f2f2f2;
}

.program-name {
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  text-transform: uppercase;
}

.program__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.program_catalog {
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
}
