.programs {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media(min-width: $tablet-width) {
    padding: 0 30px;
    margin-top: 182px;
  }

  @media(min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.programs__header {
  @include visually-hidden;
}
