.program {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-top: 19px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin-top: 23px;
  }

  @media (min-width: 1300px) {
    width: 570px;
    margin-left: 40px;
    margin-top: 80px;
  }
}

.program__wrapper {
  display: flex;
  width: 280px;
  margin-bottom: 20px;

  @media(min-width: $tablet-width) {
    width: 708px;
    margin-bottom: 25px;
    position: relative;
  }
}

.program__wrapper--pro {
  @media(min-width: $tablet-width) {
    position: relative;
  }
}

.program__name {
  margin: 0;
  padding-top: 29px;
  margin-left: 18px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  @media(min-width: $tablet-width) {
    padding-left: 35px;
    padding-top: 75px;
    font-size: 36px;
    line-height: 37px;

  }
}

.program__description {
  position: relative;
  margin: 0;
  padding-left: 20px;
  padding-right: 66px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  &::after {
    content: "";
      position: absolute;
      width: 240px;
      left: 20px;
      top: 112px;
      height: 2px;
      background: #eaeaea;
    }

  @media(min-width: $tablet-width) {
    width: 296px;
    margin-bottom: 58px;
    padding-left: 53px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }
}

.program__catalog {
  padding-left: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;

  &:focus {
    color: rgba(17, 17, 17, 0.3);
  }

  @media(min-width: $tablet-width) {
    padding-left: 53px;
    font-size: 20px;
    line-height: 20px;
  }
}

.program__image {
  padding-left: 6px;


  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 19px;
    left: 22px;
    order: 1;
    width: 140px;
    height: 194px;
  }
}

.program__image--pro {
  padding-top: 9px;
  margin-left: -16px;

  @media(min-width: $tablet-width) {
    width: 268px;
    position: absolute;
    bottom: 2px;
    left: -26px;
    order: 1;
  }

}
.program__link {
  margin-top: 40px;
  margin-bottom: 20px;

  @media(min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 60px;
  }
}


