.show-card {
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.show-card__name {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 26px;
  color: #ffffff;
}

.show-card__slogan {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color:#ffffff;
}

.show-card__wrapper {
  padding: 10px 70px;
  color: #68b738;
}

.show-card_button-program {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color:#ffffff;
}




