.show-card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0 20px;
  text-align: center;
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0;
    margin-top: 54px;
    margin-left: 87px;
    padding: 0 30px;
    text-align: justify;
    background-image: none;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    margin-top: 104px;
    background-color: transparent;
  }
}

.show-card__intro {
  position: relative;
  z-index: 1;
}

.show-card__name {
  margin: 0;
  margin-top: 26px;
  margin-bottom: 26px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
  }
}

.show-card__slogan {
  margin: 0;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-top: 42px;
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #111111;
  }
}

.show-card__picture {
  margin-top: 2px;

  @media(min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media(min-width: $desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.show-card__wrapper {
  position: absolute;
  top: 438px;
  width: 142px;
  padding: 8px 70px;
  background-color: $light-green-color;
  background-color: $light-green-color;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    background-color: #5eaa2f;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 228px;
    width: 197px;
    padding: 15px 25px;
    text-align: center;
  }

  @media(min-width: $desktop-width) {
    top: 233px;
  }
}

.show-card__image-wrapper {
  @media(min-width: $tablet-width) {
    position: absolute;
    top: 201px;
    right: 28px;
  }

  @media(min-width: $desktop-width) {
    top: -82px;
    right: 308px;
  }

}


.show-card__button-program {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }

  @media(min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
