.switcher {
  display: flex;
  justify-content: space-around;
  padding-left: 32px;
  margin-top: 61px;
  width: 220px;

  @media(min-width: $tablet-width) {
    position: relative;
    top: 310px;
    width: 595px;
    padding-left: 86px;
    margin-top: 58px;
  }

  @media(min-width: $desktop-width) {
    padding-left: 160px;
  }
 

}

.switcher__words {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  color: $black-color;
  border: none;
  background-color: transparent;
  text-transform: uppercase;

  @media(min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 6px;
    font-size: 20px;
    border-bottom: 1px dotted #b8b8b8;
   
  }
}

.switcher__bar {
  position: relative;
  width: 82px;
  height: 12px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 5px;


  @media(min-width: $tablet-width) {
    top: 8px;
    width: 430px;
    height: 5px;
    background-color: #dcdcdc;
    border: none;
  }
}

.switcher__bar-inside {
  width: 35px;
  height: 6px;
  background-color: #68b738;
  position: absolute;
  top: 3px;
  left: 5px;
  border-radius: 2px;

  @media(min-width: $tablet-width) {
    top: -15px;
    left: 199px;
    width: 33px;
    height: 33px;
    background-color: #ffffff;
    border-radius: 19px;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    

    &::after {
      content: "";
      position: absolute;
      left: 12px;
      top: 12px;
      width: 10px;
      height: 10px;
      background-color: $light-green-color;
      border-radius: 10px;
    }
  }
}