.working-process__header {
  display: flex;
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.advantages {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  display: flex;
}

.advantages__number {
  visibility: hidden;
}

.advantages__description {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}


@media (min-width: 768px) {
  .advantages {
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;
  }

  .advantages__wrapper {
    display: flex;
  }

  .advantages__item {
    flex-direction: column;
  }

  .advantages__number {
    position: absolute;
    z-index: -10;
    visibility: visible;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
  }
}

@media (min-width: 1300px) {
  .advantages {
    display: flex;
    flex-direction: row;
  }
}
