.work-process {
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 78px;
  }
}

.work-process__box {
  display: flex;
  flex-direction: column;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.work-process__header {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
