.cooperation {
  display: flex;
  background-color: #ffffff;
}

.cooperation__welcome-words {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.cooperation__address {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}



