.card-product {
  display: flex;
  flex-direction: column;
  
  // border-top: 1px solid #cdcdcd;
} 


.card-product__wrapper {
  @media(min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 630px;
  }
}

.card-product__title {
  margin: 0;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #222222; 

  @media(min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.card-product__table {
  margin-bottom: 12px;
 
}

.card-product__row {
  display: flex;
  justify-content: space-between;

  @media(min-width: $tablet-width) {
    width: 232px;
  }
}

.card-product__cell {
  font-family: $font-arial;
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media(min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
 }

.card-product__button-to-order {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Oswald", "Arial", sans-serif; 
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $light-green-color;
  border: none;

  @media(min-width: $tablet-width) {
    width: 635px;
  }
 }
