.extra-goods {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

}

.extra-goods__title {
  position: relative;
  margin-top: 28px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;

  &::after {
    content: "";
    width: 53px;
    height: 4px;
    position: absolute;
    background-color: $light-green-color;
    top: 14px;
    left: 246px;

  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;

    &::after {
      width: 371px;
      height: 2px;
      left: 377px;
      top: 25px;
    }

  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
  }
}

.extra-goods__content {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}
