.product__name {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.product__table {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__order-button {
  padding: 10px 105px;
  background-color: $color-light-green;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
