.product {
  @media (max-width: 767px) {
  display: flex;
  flex-wrap: wrap;
  }
}

.product__image {
  @media (max-width: 767px) {
    width: 140px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 140px;

  }
}

.product__body {
  @media (max-width: 767px) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
}

.product__order-button {
  @media (max-width: 767px) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
  }
}

.product__name {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  @media (min-width: 1300px) {
    font-size: 20px;
  }
}

.product__table {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__order-button {
  padding: 10px 105px;
  background-color: $light-green-color;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
