.main-form__program-select {
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.main-form__resume {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
}

.main-form__required {
  font-family: "Arial";
  font-weight: 400px;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
