.main-form__container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media(min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.main-form__head-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 15px;

  @media(min-width: $tablet-width) {
    padding-top: 53px;
  }

}

.main-form__heading {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $black-color;

  @media(min-width: $tablet-width) {
    font-size: 60px;
  }

}

.main-form__title {
  margin-top: 25px;
  font-size: 14px;
  line-height: 18px;
  color: $black-color;
  text-transform: uppercase;

  @media(min-width: $tablet-width) {
    margin-top: 55px;
    padding-left: 41px;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-form__search-wrapper {
  margin-top: 26px;

  @media(min-width: $tablet-width) {
    margin-top: 47px;
  }

  @media(min-width: $desktop-width) {
    margin-top: 66px;
  }
}

