.personal-information {
  display: flex;
  flex-direction: column;
  position: relative;

  @media(max-width: $mobile-width-only) {
    &::after {
      content: "";
      width: 320px;
      height: 1px;
      position: absolute;
      left: -20px;
      background-color: #ededed;
    }
  }
}

.personal-information__wrapper {
  display: flex;

  @media(min-width: $desktop-width) {
    padding-left: 5px;
  }
}

.personal-information__label {
  margin-right: 14px;
  padding-top: 9px;
  font-size: 16px;
  line-height: 18px;
  color: $black-color;
  text-transform: uppercase;

  &--weight {
    margin-right: 18px;
  }

  &--age {
    padding-top: 12px;
    margin-bottom: 8px;
  }

  &--radio {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 17px;
    }

  }

  @media(min-width: $tablet-width) {
    margin-right: 18px;
    font-size: 20px;
    line-height: 20px;
    

    &--weight {
      margin-right: 22px;
    }

    &--age {
      padding-top: 14px;
    }
  }

  @media(min-width: $desktop-width) {
    margin-right: 15px; 

    &--name {
      margin-right: 15px;
    }

    &--weight {
      padding-top: 11px;
    }
  }
}

.personal-information__field {
  margin-bottom: 15px;
  padding-left: 14px;
  height: 38px;

  &--name {
    width: 211px;
  }

  &--weight {
    
    width: 184px;
  }

  &--age {
    margin-bottom: 22px;
    width: 155px;
  }

  @media(min-width: $tablet-width) {
    margin-bottom: 22px;
    padding-left: 19px;

    height: 44px;

    &--name {
      width: 546px;
    }

    &--weight {
      width: 515px;
    }

    &--age {
      width: 478px;
    }
  }

  @media(min-width: $desktop-width) {

    &--name {
      width: 483px;
    }

    &--weight {
      width: 452px;
    }

    &--age {
      width: 412px;
    }
  }


}
