.users-data__wrapper {
  display: flex;
  flex-direction: column;


  @media (min-width: $tablet-width) {
    margin-bottom: 73px;
    padding-left: 40px;
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding: 0;
    margin-bottom: 42px;
  }
}

.users-data__heading {
  border: none;
  padding: 0;
  margin: 0;
}

.users-data__contacts-wrapper {
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.users-data__comments-wrapper {
  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.users-data__more-wrapper {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding-top: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
    padding-left: 0;
  }
}

.users-data__button-wrapper {

  @media (min-width: $tablet-width) {
    display: flex;
    padding-left: 41px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.users-data__button-to-sbm {
  padding-left: 79px;
  padding-right: 79px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;
  color: #ffffff;
  background-color: $light-green-color;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
  }

  @media (min-width: $tablet-width) {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 14px;
    padding-bottom: 16px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 205px;
    padding-right: 205px;
  }
}

.users-data__holder-wrapper {
  margin-top: 15px;
  padding-left: 61px;

  @media (min-width: $tablet-width) {
    margin-top: 6px;
    padding-left: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 86px;
  }
}

.users-data__required {
  font-family: $font-arial;
  font-size: 14px;
  line-height: 16px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}
