.users-data__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.users-data__container {
  display: flex;
  flex-direction: column;

  @media (min-width: 1300px) {
    display: flex;
    flex-direction: row;
  }
 }

.users-data__personal,
.users-data__goals,
.users-data__contacts,
.users-data__comments,
.users-data__more {
  border: none;
  padding: 0;
  margin: 0;
}

.users-data__personal {
  @media (min-width: 1300px) {
    width: 570px;
    margin-right: 80px;
    padding: 0;
  }
}

.users-data__label {
  margin-right: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    margin-right: 15px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: 768px) {
    margin-right: 10px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 20px;
  }
}

.user-data__name {
  width: 207px;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 15px;
  border: 1px solid #cdcdcd;


  @media (min-width: 768px) {
    width: 591px;
    height: 52px;
    margin-bottom: 15px;
    padding-left: 15px;
  }

  @media (min-width: 1300px) {
    width: 453px;
    height: 52px;
    margin-bottom: 15px;
    padding-left: 15px;
  }
}

.user-data__weight {
  width: 185px;
  height: 45px;
  margin-bottom: 15px;
  padding-left: 15px;
  border: 1px solid #cdcdcd;

  @media (min-width: 768px) {
    width: 564px;
    height: 52px;
    margin-bottom: 15px;
    padding-left: 15px;
  }

  @media (min-width: 1300px) {
    width: 426px;
    height: 52px;
    margin-bottom: 15px;
    padding-left: 15px;
  }
}

.users-data__age {
  width: 151px;
  height: 45px;
  padding-left: 15px;
  margin-bottom: 20px;
  border: 1px solid #cdcdcd;

  @media (min-width: 768px) {
    width: 521px;
    height: 52px;
    padding-left: 15px;
  }

  @media (min-width: 1300px) {
    width: 383px;
    height: 52px;
    margin-bottom: 15px;
    padding-left: 15px;
  }
}


.users-data__goals {
  display: flex;
  width: 280px;

  @media (min-width: 768px) {
    width: 633px;
    margin-top: 70px;
  }

  @media (min-width: 1300px) {
    width: 570px;
    margin: 0;
  }

}

.users-data__weight-loss,
.users-data__mass,
.users-data__idk {
  margin: 0;
  margin-right: 15px;
  margin-bottom: 13px;

  @media (min-width: 768px) {
    margin-right: 25px;

  }

  @media (min-width: 1300px) {
    margin-right: 15px;
    margin-left: 0;
  }
}

.users-data__legend {
  font-size: 24px;
  line-height: 24px;

  @media (min-width: 768px) {
    margin-left: 40px;
  }
}

.users-data__e-mail {
  width: 192px;
  height: 45px;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 15px;
  border: 1px solid #cdcdcd;

  @media (min-width: 768px) {
    width: 575px;
    height: 52px;
  }

  @media (min-width: 1300px) {
    width: 486px;
    height: 52px;
    margin: 0;
    margin-top: 67px;
    margin-right: 40px;
  }
}

.users-data__phone {
  width: 178px;
  height: 45px;
  padding-left: 15px;
  margin-bottom: 30px;
  border: 1px solid #cdcdcd;


  @media (min-width: 768px) {
    width: 555px;
    height: 52px;
  }

  @media (min-width: 1300px) {
    width: 404px;
    height: 52px;
  }
}

.users-data__words {
  width: 260px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 32px;
  padding-left: 15px;
  padding-top: 15px;
  border: 1px solid #cdcdcd;

  @media (min-width: 768px) {
    width: 630px;
    height: 175px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 35px;
    margin-bottom: 72px;
    padding-left: 15px;
    padding-top: 15px;
  }

  @media (min-width: 1300px) {
    width: 1170px;
    padding-left: 20px;
    margin-bottom: 72px;
  }
}

.users-data__more {
  display: flex;

  @media (min-width: 1300px) {
    flex-direction: row;
  }
}

.users-data__more .users-data__legend {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 55px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 55px;
  }
}

.users-data__checkbox {
  margin-bottom: 20px;
  margin-right: 15px;

  @media (min-width: 768px) {
    margin-right: 20px;
  }
}

.users-data__wrapper {
  @media (min-width: 1300px) {
    flex-direction: row;
  }
}


.users-data__button-to-sbm {
  width: 280px;
  padding: 15px 50px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $light-green-color;
  color: #ffffff;
  border: none;

  @media (min-width: 768px) {
    width: 285px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: 1300px) {
    width: 570px;
    padding-left: 210px;
    padding-right: 205px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
  }
}



