@mixin form-label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

@mixin form-legend {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #111111;
}

@mixin product-name {
  font-size:16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
@mixin catalog-goods {
  font-family: "Arial","Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

@mixin order-button {
  padding: 10px 105px;
  background-color: #68b738;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

@mixin card-product-name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

@mixin card-product-table {
  font-family: "Arial","Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
