
@media (min-width: 320px) {
  .main-navigation {
    width: 320px;
    background-color: #ffffff;
  }

  .main-navigation__hidden {
    @include visually-hidden;
  }

  .main-navigation__toggle {
    z-index: 10;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
  }

  .main-navigation--closed .main-navigation__toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 10px;
    width: 25px;
    height: 2px;
    box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222, 0 24px 0 0 #222222;
  }

  .main-navigation--opened .main-navigation__toggle {

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: 10px;
      width: 25px;
      height: 2px;
      background-color: #222222;
  }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
  }

     &::after {
      transform: rotate(-45deg);
  }
}

  .main-navigation--opened .main-navigation__wrapper {
    position: relative;
    z-index: 10;
    background-color: #ffffff;
    border: none;
    }

  .main-navigation--opened .main-navigation__wrapper::before {
    content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 320px;
      height: 100%;
    }
  }

@media (max-width: $mobile-width-only) {
  .main-navigation--closed .site-list__item {
    display: none;
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }

  .main-navigation--nojs .main-navigation__wrapper {
    position: static;
    min-height: 0;
  }

  .main-navigation--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: 768px) {
  .main-navigation {
    width: auto;
    margin: 0;
  }

  .main-navigation__wrapper {
    width: 520px;
    margin: 0 auto;

  }

  .main-navigation__toggle {
    display: none;
  }
}

@media (min-width: 1300px) {
  .main-navigation {
    position: relative;
    left: 220px;
    background-color: transparent;
  }
}


