.page-header {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  
  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.page-header__main-logo {
  @media(min-width: $mobile-width) {
    position: absolute;
    z-index: 11;
  }
}
