.page-header__container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  padding-bottom: 9px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 0 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    justify-content: space-between;
    padding: 0 40px;

    &--index {
      &::after {
        content: "";
        position: absolute;
        left: 650px;
        top: -1px;
        z-index: -1;
        width: 720px;
        min-height: 696px;
        background-image: url("/img/index-background-desktop@1x.jpg");
        background-size: 720px auto;
        background-repeat: no-repeat;
        background-color: $light-green-color;

        @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
          background-image: url("/img/index-background-desktop@2x.jpg");
        }
      }
    }
  }
}

.page-header__logo {
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    width: 174px;
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 193px;
    padding-top: 56px;
    padding-left: 3px;
  }
}
