.page-header--index {
 @media(min-width: $desktop-width) {
  &::after {
    content: "";
      position: absolute;
      left: 640px;
      top: -1px;
      z-index: -1;
      width: 720px;
      min-height: 696px;
      background-image: url("/img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-color: $light-green-color;
  }
  }
}

.page-header__container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #e6e6e6;

  @media(min-width: $tablet-width) {
    padding: 0 30px;
    border: none;
  }

  @media(min-width: $desktop-width) {
    justify-content: space-between;
    padding: 0 40px;
  }
}

.page-header__logo {
  padding-top: 13px;

  @media(min-width: $tablet-width) {
    width: 174px;
    padding-top: 24px;
  }

  @media(min-width: $desktop-width) {
    width: 193px;
    padding-top: 56px;

  }
}
