.site-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.site-list__item {
  padding: 10px 100px;
  border-bottom: 2px solid #818181;

  @media (min-width: 768px) {
    border-bottom: none;
    padding: 0;
    margin-top: 40px;
  }
}

.site-list__item-link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;

  &:hover {
    color: rgba(17, 17, 17, 0.6);
  }

  &:focus {
    color: rgba(17, 17, 17, 0.3);
  }

  @media (min-width: 768px) {
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
  }

  @media (min-width: 1300px) {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff;
  }

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
      color: rgba(255, 255, 255, 0.3);
    }
  }


.site-list__item-link--color-black {
  color: #111111;
}

.site-list__item--current {
  border-bottom: 2px solid $color-light-green;


  @media (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media (min-width: 1300px) {
    border-bottom: 2px solid #ffffff;
  }
}
