.site-list {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  text-align: center;
  border-top: 1px solid #dcdcdc;

  @media(min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 43px;
    margin-left: 90px;
    width: 445px;
    border: none;
  }

  @media(min-width: $desktop-width) {
    width: 570px;
    margin-top: 77px;
    margin-right: 45px;
    justify-content: space-around;
    background-color: transparent;

  }
}

.site-list__item {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #dcdcdc;

  @media(min-width: $tablet-width) {
    border: none;
    padding: 0;

    &:first-child {
      padding-left: 5px;
    }
  }
}


.site-list__item--current {
  @media(min-width: $tablet-width) {
    position: relative;

      &::after {
      content: "";
        position: absolute;
        right: 0;
        bottom: -9px;
        left: 5px;
        height: 2px;
        background: $light-green-color;
      }
    }

  @media(min-width: $desktop-width) {
    &::after {
      content: "";
        position: absolute;
        right: 0;
        bottom: -9px;
        left: 5px;
        height: 2px;
        background: #ffffff;
      }
  }
}

.site-list__item-link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $main-dark-color;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }

  @media(min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media(min-width: $desktop-width) {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
